main {
  height: 90%;
  padding-top: 2%;
}

.board {
  width: 50%;
  margin: 0% auto;
  height: auto;
}

.board-content-field {
  background: darkgrey;
  width: 100%;
  min-height: 380px;
  padding-bottom: 0px !important;
  overflow-y: scroll;
}

button {
  margin-left: 5%;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 47%;
  z-index: 1;
}

.passwords {
  padding: 0;
  float: right;
}

.plainTextHolder {
  max-width: fit-content;
  max-height: 500px;
  cursor: pointer;
  background: beige;
  color: black;
  overflow-y: scroll;
}
