<main>
  <mat-spinner *ngIf="this.gameService.busy"></mat-spinner>
  <mat-card class="board">
    <mat-card-title>
      {{this.gameService.gameStatusTitle}}
    </mat-card-title>
    <mat-card-subtitle style="margin-top:0">
      <mat-form-field>
        <mat-label>Current level:</mat-label>
        <mat-select [(value)]="currentLevel">
          <mat-option *ngFor="let level of levels" [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="this.gameService.updateLevel(this.currentLevel)" [disabled]="this.currentLevel == this.gameService.requestedLevel">New level</button>
      <button *ngIf="this.gameService.testMode" mat-raised-button color="accent" (click)="this.gameService.getMap()">Get Map</button>
      <button  mat-raised-button color="accent" (click)="this.toggleAutoSolve()">{{autoSolveStatus}}</button>
      <mat-list class="passwords" role="list">Passwords:
        <mat-list-item *ngFor="let password of this.gameService.passwords" role="listitem">{{password}}</mat-list-item>
      </mat-list>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-grid-list *ngIf="currentLevel <= 2" [cols]="this.gameService.getMapHeight()" rowHeight="1:1" class="board-content-field">
        <mat-grid-tile class="tile" *ngFor="let tile of this.gameService.getTilesArray(); index as i; trackBy: trackFn">
          <app-tile (click)="openTile(i)" [coordinate-x]="this.gameService.getTileX(i)" [coordinate-y]="this.gameService.getTileY(i)" [tileLabel]="tile" (contextmenu)="flagMine($event)"></app-tile>
        </mat-grid-tile>
      </mat-grid-list>

      <article (contextmenu)="flagMine($event)" (click)="openTile($event)" *ngIf="currentLevel > 2" class="plainTextHolder">
        {{this.gameService.getPlainText()}}
      </article>

    </mat-card-content>
  </mat-card>
</main>
